ul {
  list-style: none;
}

li {
  position: relative;
}

li p {
  max-width: 75ch;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

ul li::before {
  content: '';
  position: absolute;
}

.bullet li::before {
  background: url('../../assets/icons/bullet.svg');
  width: 10px;
  height: 10px;
  top: 6px;
  left: -22px;
}

.check li::before {
  background: url('../../assets/icons/check.svg');
  width: 16px;
  height: 12px;
  top: 5px;
  left: -24px;
}
