ul {
  list-style: none;
}

li {
  position: relative;
}

li p {
  max-width: 75ch;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

ul li::before {
  content: '';
  position: absolute;
}

ul.bullet li::before {
  background: url('../../assets/icons/bullet.svg');
  width: 10px;
  height: 10px;
  top: 6px;
  left: -22px;
}

ul.check li::before {
  background: url('../../assets/icons/check.svg');
  width: 16px;
  height: 12px;
  top: 5px;
  left: -24px;
}

ol {
  counter-reset: counter;
  list-style-type: none;
}

li::before {
  counter-increment: counter;
  content: counter(counter) '.';
  position: absolute;
  left: -20px;
}
