.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease;
  background-color: get-alpha-color(black, 0.5);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.modal {
  transition: transform 0.4s ease;
  border-radius: 0.25rem;
  box-shadow: 0 rem(2px) rem(8px) get-alpha-color(black, 0.67);
  background-color: get-color(white);
  width: 96vw;
  color: get-color(gray, dark);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: get-space('xsmall');
  border-radius: 0.25rem 0.25rem 0 0;
}

.modal-header--gradient {
  background: linear-gradient(to right, get-color(orange), get-color(pink));
  color: white;
}

.modal-header--gradient .modal-title {
  flex: 1;
  text-align: center;
}

.modal-header--transparent {
  display: none;
}

.modal-title {
  @include font-weight(bold);
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0;
  padding-right: 3rem;

  @include mq($from: md) {
    font-size: rem(24px);
  }
}

.icon-close {
  &--pink {
    color: get-color(pink);

    &:hover,
    &:active,
    &:focus {
      color: get-color(pink, light);
    }
  }

  &--white {
    color: get-color(white);

    &:hover,
    &:active,
    &:focus {
      opacity: 0.85;
      color: get-color(gray, light);
    }
  }
}

.modal-content {
  // because fuck standards, that's why
  // https://github.com/w3c/csswg-drafts/issues/129
  margin-bottom: get-space('xsmall');
  padding: 0 get-space('xsmall');
  // height management
  max-height: 85vh;
  overflow-y: auto;
}

.modal--width-small {
  max-width: 300px;
}
.modal--width-medium {
  max-width: 500px;
}
.modal--width-large {
  max-width: 800px;
}

.modal-leave-active,
.modal-enter {
  opacity: 0;

  .modal {
    transform: translateY(-100%);
  }
}
