$mq-base-font-size: $rem-baseline;
$mq-breakpoints: $grid-breakpoints;
$mq-show-breakpoints: (xs, sm, md, lg, xl);

$mq-and-landscape: "(orientation: landscape)";
$mq-and-portrait: "(orientation: portrait)";
